<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>TravelerShop</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/wwwroot/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/wwwroot/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/wwwroot/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/wwwroot/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/wwwroot/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/wwwroot/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/wwwroot/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/wwwroot/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/wwwroot/css/responsive.css">

</head>
<body>

    <!-- header -->
    <div class="top-header-area" id="sticker">
        @Html.Partial("_Header")
    </div>

    <!-- search area -->
    <div class="search-area">
        @Html.Partial("_SearchArea")
    </div>

    @RenderBody()

    <!-- footer -->
    <div class="footer-area">
        @Html.Partial("_Footer")
    </div>

    <!-- copyright -->
    <div class="copyright">
        @Html.Partial("_Copyright")
    </div>

    <!-- jquery -->
    <script src="/wwwroot/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/wwwroot/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/wwwroot/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/wwwroot/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/wwwroot/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/wwwroot/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/wwwroot/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/wwwroot/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/wwwroot/js/sticker.js"></script>
    <!-- main js -->
    <script src="/wwwroot/js/main.js"></script>

</body>
</html>